<html>
  <head>
    <title>CoasTrack</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }
      .navbar {
        background-color: #003366;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .navbar .logo {
        font-size: 24px;
        color: #ffffff;
      }
      .navbar .logo span {
        color: #ff6600;
      }
      .navbar .menu a {
        color: #ffffff;
        margin-left: 20px;
        text-decoration: none;
        font-size: 16px;
      }
      .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 20px;
      }
      .gallery-item {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 10px;
      }
      .gallery-item img {
        width: 100%;
        border-radius: 15px;
      }
      .gallery-item .caption {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
      }
      .gallery-item.barat {
        background-color: #003366;
        color: #ffffff;
      }
      .gallery-item.timur {
        background-color: #ff6600;
        color: #ffffff;
      }
      .navigation {
        display: flex;
        justify-content: space-between;
        padding: 20px;
      }
      .navigation i {
        font-size: 24px;
        color: #333333;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">Coas <span>Track </span></div>
      <div class="menu"> </div>
    </div>
    <div class="gallery">
      <div class="gallery-item barat">
        <img
          alt="Placeholder image"
          height="150"
          src="/img/2015.png"
          width="150"
        />
        <div class="caption">2015</div>
      </div>
      <div class="gallery-item timur">
        <img
          alt="Placeholder image"
          height="150"
          src="/img/2016.png"
          width="150"
        />
        <div class="caption">2016</div>
      </div>
      <div class="gallery-item barat">
        <img
          alt="Placeholder image"
          height="150"
          src="/img/2017.png"
          width="150"
        />
        <div class="caption">2017</div>
      </div>
      <div class="gallery-item timur">
        <img
          alt="Placeholder image"
          height="150"
          src="/img/2018.png"
        width="150"
        />
        <div class="caption">2018</div>
      </div>
      <div class="gallery-item barat">
        <img
          alt="Placeholder image"
          height="150"
          src="/img/2019.png"
          width="150"
        />
        <div class="caption">2019</div>
      </div>
      <div class="gallery-item timur">
        <img
          alt="Placeholder image"
          height="150"
          src="/img/2020.png"
          width="150"
        />
        <div class="caption">2020</div>
      </div>
      <div class="gallery-item barat">
        <img
          alt="Placeholder image"
          height="150"
          src="/img/2021.png"
          width="150"
        />
        <div class="caption">2021</div>
      </div>
      <div class="gallery-item timur">
        <img
          alt="Placeholder image"
          height="150"
          src="/img/2022.png"
          width="150"
        />
        <div class="caption">2022</div>
      </div>
      <div class="gallery-item barat">
        <img
          alt="Placeholder image"
          height="150"
          src="/img/2023.png"
          width="150"
        />
        <div class="caption">2023</div>
      </div>
      <div class="gallery-item timur">
        <img
          alt="Placeholder image"
          height="150"
          src="/img/2024.png"
          width="150"
        />
        <div class="caption">2024</div> 
    </div>
   </body>
   <button class="explore-button"> <a href="index.ejs">Kembali</a></button>
  
</html>
